<div class="table-container container">
<div class="well">
<h3>Daftar Puisi</h3>
</div>
<div class="table-responsive">
<table  class="table table-condensed table-bordered table-hover table-striped" style="text-align: justify">
  <thead>
    <tr>
      <th>Judul</th>
      <th>Tipe Puisi</th>
      <th>Tema Puisi</th>
      <th>Untuk</th>
      <th>Isi Puisi</th>
    </tr>
  </thead>

  <tbody>
    <% @puisis.each do |puisi| %>
      <tr onclick="redirectTo('<%= puisi_path(puisi.id)%>')"  style="cursor: pointer">
        <td><%= puisi.title %></td>
        <td><%= puisi.puisi_type %></td>
        <td><%= puisi.puisi_tema %></td>
        <td><%= puisi.puisi_for %></td>
        <td><%= puisi.puisi_con %></td>
        <td><%= link_to 'Show', puisi %></td>
        <td><%= link_to 'Edit', edit_puisi_path(puisi) %></td>
        <td><%= link_to 'Destroy', puisi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Puisi', new_puisi_path %>
</div>